.Body-text {
  margin-top: 20px;
  width: 50%;
  margin: 0 auto;
}

i {
  cursor: pointer;
}

i:hover {
  color: black;
  opacity: 0.5;
}

@media (max-width: 767px ) {
  .Body-text {
    width: 100%;
  }
}
